---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/881964291406090240.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="e35b71fe2dabb8a60c3fb4d784c1d4df",
        oauth_signature="6Tg4%2BMuXZSsgGN1AO6Vzw5Q9Iss%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1499103935", oauth_token="<USER_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 03 Jul 2017 19:57:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - cecf60744fd96c7e0aebaf9a79a2ef6b
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1499112737'
      X-Response-Time:
      - '148'
      X-Transaction:
      - 00a61fb00000c9c6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: "{\"created_at\":\"Mon Jul 03 19:54:07 +0000 2017\",\"id\":881964291406090240,\"id_str\":\"881964291406090240\",\"text\":\"Delete
        me pls\",\"truncated\":false,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"source\":\"\\u003ca
        href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web
        Client\\u003c\\/a\\u003e\",\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":881938362285912066,\"id_str\":\"881938362285912066\",\"name\":\"Teewt\",\"screen_name\":\"teewt_rb\",\"location\":\"\",\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":0,\"friends_count\":0,\"listed_count\":0,\"created_at\":\"Mon
        Jul 03 18:11:05 +0000 2017\",\"favourites_count\":0,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":false,\"verified\":false,\"statuses_count\":1,\"lang\":\"en-gb\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"F5F8FA\",\"profile_background_image_url\":null,\"profile_background_image_url_https\":null,\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/abs.twimg.com\\/sticky\\/default_profile_images\\/default_profile_normal.png\",\"profile_image_url_https\":\"https:\\/\\/abs.twimg.com\\/sticky\\/default_profile_images\\/default_profile_normal.png\",\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":true,\"default_profile_image\":true,\"following\":false,\"follow_request_sent\":false,\"notifications\":false,\"translator_type\":\"none\"},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"}"
  recorded_at: Mon, 03 Jul 2017 19:57:18 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/destroy/881964291406090240.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="UZwKrx4t8f4MJUsufcjiVF2IS", oauth_nonce="09cfb2e4450bd3b1b302e0a52817b555",
        oauth_signature="YHydYm94MN5aUMgvpQ0vmbdYkMo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1499111838", oauth_token="881938362285912066-KR2380uS36U6igL4ARdwtQJfdIu5TuP",
   [...]
