---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/89995618539985940483.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="1af8705b43dea998465afc3cf8d890c1",
        oauth_signature="EB4duirJ%2FML9lPMStyNWCZla%2Bh8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1499104321", oauth_token="<USER_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 36022642a95e25142e3c0747c766b476
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '890'
      X-Rate-Limit-Reset:
      - '1499104509'
      X-Response-Time:
      - '110'
      X-Transaction:
      - 00736bad00d38f3c
    body:
      encoding: UTF-8
      string: "{\"errors\":[{\"message\":\"Sorry, that page does not exist\",\"code\":34}]}"
  recorded_at: Mon, 03 Jul 2017 17:52:01 GMT
recorded_with: VCR 2.9.3
