---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="1af8705b43dea998465afc3cf8d890c1",
        oauth_signature="EB4duirJ%2FML9lPMStyNWCZla%2Bh8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1499104321", oauth_token="<USER_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 03 Jul 2017 15:07:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1bd075ff54a3d34393cbd1b4d4b82567
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '74'
      X-Rate-Limit-Reset:
      - '1499095331'
      X-Response-Time:
      - '149'
      X-Transaction:
      - 008ae36400244620
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":14847045,"id_str":"14847045","name":"alexandrebini","screen_name":"alexandrebini","location":"S\u00e3o
        Paulo \/ Birigui \/ SP","profile_location":null,"description":"","url":"http:\/\/t.co\/dCoSipeVhB","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/dCoSipeVhB","expanded_url":"http:\/\/voraz.com.br","display_url":"voraz.com.br","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":182,"friends_count":159,"listed_count":8,"created_at":"Tue
        May 20 16:18:48 +0000 2008","favourites_count":0,"utc_offset":-7200,"time_zone":"Brasilia","geo_enabled":false,"verified":false,"statuses_count":418,"lang":"en","status":{"created_at":"Tue
        Jul 30 18:24:04 +0000 2013","id":362277430544699392,"id_str":"362277430544699392","text":"I''m
        hiring! Scrum Master at Click Jogos - Ara\u00e7atuba Area, Brazil #jobs http:\/\/t.co\/sPzMrfuDBA","source":"\u003ca
        href=\"http:\/\/www.linkedin.com\/\" rel=\"nofollow\"\u003eLinkedIn\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[{"text":"jobs","indices":[65,70]}],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/sPzMrfuDBA","expanded_url":"http:\/\/lnkd.in\/7K-P2K","display_url":"lnkd.in\/7K-P2K","indices":[71,93]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"pt"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/343266313\/3579735906_1cb997b067_o_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/343266313\/3579735906_1cb997b067_o_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Mon, 03 Jul 2017 15:07:11 GMT
recorded_with: VCR 2.9.3
